* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  background-color: seagreen;
}

.page {
  display: flex;
}
.top-section {
  background-color: tan;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    font-size: 2.5rem;
    font-family: Arial, Helvetica, sans-serif;
  }
}
